* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    /*trick to center text vertically  give equal height and lineheihght*/

}

.choice{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
outline: 21px solid white;
outline-offset: -21px;

}
.choice:hover{
    opacity: 50%;
    cursor: pointer;
  border: 3px solid black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
margin-top: 3rem;
}

#user-score , #comp-score{
font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
  padding: 1rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem
}